.category-section {
  padding: 1.5rem;
  background: #2a6592;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 place-items: center;
}

.category-section li {

  list-style-type: none;
  margin: .5rem 1rem;
  /* padding: 2rem; */
}

@media screen and (max-width: 768px) {
  .category-section {
    background: #2a6592;
    grid-template-columns: 1fr 1fr;
  }
  .category-section li {

    margin: 1.3rem 1rem;
    /* padding: 2rem; */
  }
  
}

@media screen and (max-width: 480px) {
    .category-section {
      background: #2a6592;
      grid-template-columns:  1fr;
    }
    .category-section li {

        margin: 1.5rem 1rem;
        /* padding: 2rem; */
      }
  }
  


.category-section li a {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: #2a6592;
  background-color: #e7e9eb;
  font-weight: bolder;
  /* box-shadow: 2px 2px 15px white; */
  transition: all 0.4s ease-in-out;
}

.category-section li a:hover {
  background-color: #dadee0;
  box-shadow: 2px 2px 10px white;
}

.category-section li i {
  margin-right: 10px;
}
