.separate-product {
  width: 85vw;
  /* height: 82vh; */
  height: 100%;
  margin: 0 auto;
  color: var(--purple);
 
}
.separate-product h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;

  
}
.single-product-inner {
  display: grid;
  grid-template-areas: "left right";
  background-color: rgb(239, 237, 241);
  border-radius: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .single-product-inner {
    grid-template-areas:
      "left"
      "right";
  }
}

.product-left {
  grid-area: left;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-right {
    grid-area: right;
    width: 100%;
  /* background-color: rgb(105, 129, 129); */
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.product-right div:last-of-type{
    margin: 2.5rem 0;
}
.product-left img {
  border-radius: 10px;
  height: 300px;
}

/* product-right */

.product-right p {
  margin: 1rem 0;
  color: var(--purple);
  font-size: 1.2rem;
}

/* back-btn */

.separate-product .back-btn {
  display: flex;
  justify-content: flex-end;
}
