* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple: #802c6e;
  --purple-hover: #6e2b60;
}

.product-btn {
  text-decoration: none;
  margin: 1rem 0;
  cursor: pointer;
  font-weight: bold;
  outline: 0;
  border: none;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  background: var(--purple);
  color: rgb(231, 226, 226);
  box-shadow: 12px 14px 5px -5px rgba(166, 132, 132, 0.58);
  transition: all 0.5s ease-in-out;
}

.product-btn:hover {
  background: rgb(231, 226, 226);
  border: 1px solid #802c6e;
  color: var(--purple);
}
